@model BrickApp.ViewModels.Blogs.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">    
    <tr>
        <th>
            Category
        </th>
        <th>
            Number of Posts
        </th>
        <th></th>
    </tr>
    @foreach (var blog in Model.Blogs)
    {
        <tr>
            <td>
                <a asp-action="Edit" asp-controller="Blogs" asp-route-id="@blog.BlogId">@blog.Category</a>
                
            </td>
            <td>
                @Model.Posts.Where(p => p.BlogId == blog.BlogId).Count()
            </td>
            <td>
                <a asp-action="Create" asp-controller="Posts" asp-route-id="@blog.BlogId">New Blog Post</a> |
                <a asp-action="Details" asp-controller="Blogs" asp-route-id="@blog.BlogId">View Posts</a>
            </td>
        </tr>
    }
</table>
